{% include "tpl/header.tpl.html" %}
    {% include "tpl/nav.tpl.html" %}
        {% include "tpl/sidebar.tpl.html" %}

                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card card-default widget animated" style="animation-delay: 0.35s;">
                                    <div class="card-heading">
                                        <div class="card-controls">
                                        </div>
                                        <h3 class="card-title">账户资料</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-profit" style="height: auto; padding: 0px; position: relative;">
                                            <table class="table table-bordered" style="width:30%">
                                                <tbody>
                                                    <tr><th>客户ID：</th><td>{{ user }}</td></tr>
                                                    <tr>
                                                        <th>公司名称：</th>
                                                        {% if customer %}
                                                        <td>{{ customer.contract }}</td></tr>
                                                        {% endif %}
                                                    <tr><th>销售经理：</th>
                                                        {% if customer %}
                                                        <td>{{ customer.sale }}</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr><th>流量图形：</th>
                                                        {% if cacti %}
                                                        <td>开通</td>
                                                        {% else %}
                                                        <td>未开通</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr><th>线路状态：</th>
                                                        {% if availability %}
                                                        <td>开通</td>
                                                        {% else %}
                                                        <td>未开通</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr><th>流量分析：</th>
                                                        {% if nflow %}
                                                        <td>开通</td>
                                                        {% else %}
                                                        <td>未开通</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr><th>报表：</th>
                                                        <td>{{ report }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>

    {% include "tpl/footer.tpl.html" %}
{% include "tpl/eof.tpl.html" %}
