{% include "tpl/header.tpl.html" %}
    {% include "tpl/nav.tpl.html" %}
        {% include "tpl/sidebar.tpl.html" %}

                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card card-default widget animated" style="animation-delay: 0.29s;">
                                    <div class="card-heading">
                                        <h3 class="card-title">Netflow</h3>
                                    </div>
                                    <div class="card-body">
                                        {% if netflow %}
                                        <div id="iframe-nflow" style="height: auto; padding: 0px; position: relative;">
                                            <iframe id="info" name="info" src="{{ url }}j_username={{ netflow.j_username }}&j_password={{ netflow.j_password }}&autologin=true" style="height:800px;width:100%"></iframe>
                                        </div>
                                        {% else %}
                                        <p>您还未开通流量分析</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>

    {% include "tpl/footer.tpl.html" %}
{% include "tpl/eof.tpl.html" %}
