{% include "tpl/header.tpl.html" %}

        <div class="page-content full-width">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="page-brand">
                            <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
                        </div>
                        <div class="card card-default widget">
                            <div class="card-heading text-center">
                                <h3 class="card-title">Internal Server Error</h3>
                            </div>
                            <div class="card-body">
                                <p class="error-code">
                                    500
                                </p>
                                <p class="text-center text-muted">
                                    The server encountered something unexpected that didn't allow it to complete the request. We apologize.
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <span class="text-muted">Back to</span> <a href="/">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

{% include "tpl/nojs.tpl.html" %}
