{% include "tpl/header.tpl.html" %}
    {% include "tpl/nav.tpl.html" %}
        {% include "tpl/sidebar.tpl.html" %}

                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card card-default widget animated" style="animation-delay: 0.29s;">
                                    <div class="card-heading">
                                        <h3 class="card-title">骨干SLA数据{{ title }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-profit" style="height: auto; width:100%; padding: 0px; position: relative; text-align:center;">
                                            <image src="{{ url }}" style="width:auto;height:auto;max-width:100%;max-height:100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>

    {% include "tpl/footer.tpl.html" %}
{% include "tpl/eof.tpl.html" %}
