        <div class="content">
            <header class="page-header">
            </header>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-sidebar toggled sidebar">
                        <nav class="sidebar-collapse d-none d-md-block">
                            <i class="ion ion-ios-arrow-forward show-on-collapsed"></i>
                            <i class="ion ion-ios-arrow-back hide-on-collapsed"></i>
                        </nav>
                        <ul class="nav nav-pills nav-stacked" id="sidebar-stacked">
                            <li class="d-md-none">
                                <a href="#" class="sidebar-close"><i class="ion ion-ios-arrow-left"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-container" href="/">
                                  <i class="ion ion-android-people"></i> <span class="nav-text">客户管理</span>
                                </a>
                            </li>
                        </ul>
                    </div>
