<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Portal</title>
    <!-- External fonts -->
    <link href="/static/assets/fonts/montserrat.css" rel="stylesheet">
    <!-- NPM Packages -->
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/node_modules/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Vendor -->
    <link href="/static/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Theme -->
    <link href="/static/assets/css/spark.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
    <!-- right-to-left -->
    <div class="wrapper">
